#result-doctors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .listing {
    height: 220px;
    width: 210px;
    border: solid black 1px;
    border-radius: 20px;
    margin: 10px;
    background-color: beige;
    text-align: center;
    img {
      display: block;
      margin: 0 auto;
    }
  }
}
#keyword-input {
  display: none;
}
#form-display {
  text-align: center;
  border: solid black 1 px;
  border-radius: 15px;
  background-color: lightgray;
  width: 50%;
  padding: 30px;
  display: block;
  margin: 0 auto;
  button {
    width: 50%;
    display: block;
    margin: 0 auto;
    font-size: 20px;
  }
  label {
    font-size: 16px;
  }
}

.clickable {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

h1, p{
  text-align: center;
}
